[2017-03-28 13:28] gliwka opened #1 "Add benchmark to detect performance regressions"

[2017-04-01 02:32] liuhe36 opened #2 "utf8 match"
Hi,I'm a novice to hyperscan

I have a question whether hyperscan supports matching Chinese characters?

I use your code hyperscan-java and set the expressionFlag to utf-8, but it can't match result.

Examples are as follows：
expression：测试
scan：这是一个测试

thanks.

[2017-04-01 08:29] gliwka commented on #2
Hi lihue36,

thanks for the bug report. I'm able to reproduce it. Seems like there's some issues with UTF-8 characters.

I'll investigate if it's a issue with the JNA wrapper or with hyperscan itself and will come back to you with a solution.

Best,
Matthias

[2017-04-16 19:50] gliwka commented on #2
@liuhe36 Sorry it took so long, but i've finally was able to fix the bug. In case of UTF8 characters the code was passing a wrong length of the input data.

I've pushed out version 0.1.1 which fixes the bug by using getBytes().length instead of the length property!

Please try again.

[2017-04-16 19:50] #2 closed

[2017-04-27 06:24] liuhe36 commented on #2
@gliwka oh,it's exciting, I will try it right now.

[2017-04-27 09:20] gliwka commented on #2
Let me know how it goes 😄

[2017-04-27 10:11] liuhe36 commented on #2
it works well
thanks and I will run a performance benchmark between native hyperscan and yours，so that I can integrate hyperscan-java into my project.

Do you have any advice or Did you run benchmark before?

[2017-04-27 11:25] gliwka commented on #2
I'm happy it works for you. Let's continue the discussion about benchmarking in the issue #1

[2017-05-17 11:41] gliwka opened #3 "Bundle precompiled hyperscan library for linux"
Compile 64-bit "fat" runtime and add it to the appropriate directory so jna will load and extract it (see [here](https://github.com/java-native-access/jna/blob/master/www/GettingStarted.md))

[2017-05-17 13:40] gliwka commented on #1
The best thing would be to operate on the same corpora the native hyperscan benchmark tool hsbench is operating on, see https://01.org/blogs/jpviiret/2017/performance-analysis-hyperscan-hsbench

[2017-05-17 14:20] gliwka commented on #3
Done.

[2017-05-17 14:20] #3 closed

[2017-05-17 14:38] gliwka opened #4 "Implement stream mode"

[2017-05-17 16:45] gliwka opened #5 "Issues with returned match (utf-8)"
The returned match specifies the byte position, which can differ to the string position in case of utf8. It's necessary to replace substring with code extracting the string at the exact byte positions.

[2017-05-17 16:47] #5 closed

[2017-06-21 18:16] gliwka opened #6 "End of match position index is off by one"

[2017-06-21 18:19] gliwka opened #7 "Array Out of Bound Exception (String to Byte Position Mapping)"
The current implementation of the string to byte position mapping in combination with issue #6 causes a Array Out of Bound Exception.

[2017-06-21 18:21] #6 closed

[2017-06-21 18:22] #7 closed

[2017-06-22 20:40] gliwka opened #8 "Occasional SIGSEGV during Finalizer execution on Scanner class"
In some cases (usually during high memory pressure) a java application using hyperscan-java can segfault. The stacktrace indicates, that the problem seems to be related to the finalize() method on the Scanner class.

[2017-06-22 20:42] gliwka commented on #8
Fatal Error Log of the JVM:
https://gist.github.com/gliwka/c87eb43c92801f474a4c851cd7ff2357

Stacktrace starts at [line 95](https://gist.github.com/gliwka/c87eb43c92801f474a4c851cd7ff2357#file-hs_err_pid31141-log-L95).

[2017-06-25 10:08] #8 closed

[2017-06-25 10:13] gliwka commented on #8
Fixed in v0.3.1

[2017-07-03 21:57] gliwka opened #10 "Serialization and deserialization of databases"
Implement serialization and deserialization to allow for advanced use cases (see https://intel.github.io/hyperscan/dev-reference/serialization.html)

[2017-07-04 07:38] gliwka opened #11 "Mark junit as test dependency"
See comment in #9

[2017-07-04 07:45] #11 closed

[2017-07-04 07:47] gliwka commented on #11
Fixed in v0.4.1

[2017-07-11 16:57] eliaslevy opened #13 "Embedded Linux shared library won't work with more conservative Linux distros"
Conservative Linux distros, such as Amazon Linux, have older versions of gcc/libstdc++.  That leads to an error when JNA tries to load the embedded shared library (`java.lang.UnsatisfiedLinkError: /usr/lib64/libstdc++.so.6: version "GLIBCXX_3.4.20" not found`), which has been compiled with a newer ABI.  As libstdc++ is forward compatible, using versioned symbols, to maximize compatibility, it woul

[2017-07-11 17:17] gliwka commented on #13
Nice catch! Seems like not everybody is running Arch Linux ;-)

I'm going to compile it with Centos 5, so it's compatible with RHEL 5 too, which should be the oldest distribution still on an support cycle.

[2017-07-12 11:55] gliwka opened #15 "Check if direct mapping can be applied"
See https://github.com/java-native-access/jna/blob/master/www/DirectMapping.md

[2017-07-15 22:07] gliwka commented on #13
Have to drop RHEL 5 and move up to RHEL/CentOS 6.

Building it on RHEL/CentOS 5 is a dependency hell disaster.

[2017-07-16 11:01] gliwka commented on #13
The new shared library now uses the GLIBCXX_3.4.9 symbols and below and has been published in release 0.4.3.

@eliaslevy, could you please try again with this version?

[2017-07-16 21:43] eliaslevy commented on #13
It works.

[2017-07-16 21:43] #13 closed

[2017-07-19 21:59] gliwka commented on #15
Fixed by #17

[2017-07-19 21:59] #15 closed

[2017-07-20 09:32] gliwka opened #18 "Add 32-bit Linux support"
Crosscompile ~~for Windows and~~ 32-bit Linux support.

[2017-07-20 11:07] gliwka opened #19 "Add Travis CI"

[2017-07-20 11:09] gliwka opened #20 "Improve EndToEndTest"
- Remove (possibly copyrighted) Text excerpts and replace with public domain based example
- Add tests for error cases (hs_error < 0)

[2017-07-21 02:33] #19 closed

[2017-07-24 06:12] 21157651 opened #21 "hyper scan out of memory bug"
I use "new scanner" every time , but  the memory increase step by step , at last oom . so how to close scanner. 3q

the code is flow :

public List<Match> match(Database db, String query) throws Throwable {
    Scanner scanner = new Scanner();
    scanner.allocScratch(db);
    List<Match> results = scanner.scan(db, query);
    return results;
  }

  public static EnumSet<ExpressionFlag> expression

[2017-07-24 19:52] gliwka commented on #21
Hi @21157651,

thanks for the report.

Currently, there's no close method on the Scanner class, because usually you only create one Scanner instance for each Thread and keep using it for the entire lifetime of the program.

Would it be feasible to only create one scanner instance for each thread and keep using it forever? The allocScratch method also needs to be called only when you scan using a D

[2017-07-25 01:54] 21157651 commented on #21
could you support a close method for database and scanner? Beacause not every thread run all the entire lifetime of the program.The memory leak will cause a big trouble for stable multi thread's program!

[2017-07-25 02:08] 21157651 opened #22 "database looking is lower ans lower when thread num increase"

[2017-07-25 05:46] gliwka commented on #21
Sure, I'm already on it.

Just wanted to point out it incurs a performance penalty creating a new scanner instance each time.

[2017-07-25 05:54] 21157651 commented on #21
ok, thank you!

[2017-07-25 05:55] #22 closed

[2017-07-25 06:17] gliwka commented on #21
I've implemented the Closeable inteface on the Scanner and Databasse classes. It's now on master branch and will be part of the next release. If you need this functionality with the current release, you can also call finalize(). It will have the same effect.

Please reopen this bug in case you have any more questions.

PS: You can check out [this](https://01org.github.io/hyperscan/dev-reference/pe

[2017-07-25 06:17] #21 closed

[2017-07-25 06:41] 21157651 commented on #21
the master closeable inteface doesn't work . The memory leak  cann't stop by close method

[2017-07-26 01:42] 21157651 opened #23 "scanner ArrayIndexOutOfBoundsException bug"
in scanner class , there is a arrayIndexOutOfBoundsException bug when regex = "a|",because the "from = 0" and "to = 0" exit .

[code]

thank you
mzn

[2017-07-26 03:36] gliwka commented on #23
Thanks for the report. I'll issue a fix.

[2017-07-26 03:52] 21157651 commented on #23
yesterday ， the close method doesn't work , do you get the message?
I can't reopen the bug reporter.
https://github.com/cerebuild/hyperscan-java/issues/21

thank you
mzn

[2017-08-05 21:31] #23 closed

[2017-08-05 21:52] gliwka commented on #23
@21157651 This bug is fixed in the last release.

[2017-08-10 09:00] gliwka opened #25 "Add syntactic sugar to Expression constructors"
Add constructors to create expressions with only a single ExpressionFlag.

[2017-08-10 23:32] #25 closed

[2017-08-12 18:20] gliwka opened #26 "Trying to compile a database with an empty list should throw an exception"

[2017-08-12 21:09] gliwka commented on #26
No additional code in compile path necessary.

[2017-08-12 21:09] #26 closed

[2017-09-16 18:35] gliwka opened #27 "Implement extended expression syntax using hs_compile_ext_multi()"

[2017-09-23 18:49] gliwka opened #28 "Compile new binaries for hyperscan v4.6.0"

[2017-09-24 20:51] eliaslevy commented on #28
I attempted to build 4.6.0 on MacOS but was unsuccessful.   Failed at the link stage.  Opened 01org/hyperscan#69.

[2017-09-25 13:25] gliwka commented on #28
A friend suggested to try it with those cmake options (haven't had the opportunity to try those yet - will do that later and report back):
[code]

[2017-09-27 11:51] gliwka opened #30 "Create travis build matrix for Linux and OS X to automate hyperscan builds"
ToDo:

- Split the travis config into multiple build stages (test of java code, building of hyperscan artifacts, deploy)
- Create a build matrix containing latest OS X 64-bit, Linux Docker Image with oldest possible GLIBC (32-bit and 64-bit) and a MINGW cross compile for Windows (32-bit and 64-bit)

This would also fix #18.

[2017-09-27 22:18] gliwka commented on #30
Turns out cross compile for windows via mingw is a real pain. Skipping it for now.

[2017-09-28 00:37] gliwka commented on #18
Turns out cross compile for windows via mingw is a real pain. Skipping it for now.

[2017-09-28 11:38] #18 closed

[2017-09-28 11:38] #28 closed

[2017-09-28 11:38] #30 closed

[2017-09-28 11:40] gliwka commented on #28
The libraries are now automatically built using travis ci. A built can be triggered if a contributor changes the file https://github.com/cerebuild/hyperscan-java/blob/master/.hyperscan-version directly on the master branch (not via pull request).

[2017-09-28 18:47] eliaslevy commented on #28
@gliwka can we push out a new release with the new 4.6.0 libs?

[2017-09-28 19:02] gliwka commented on #28
@eliaslevy Done, v0.4.10 has been published.

I'll try to incorporate the changes in hyper scan (i.e. the newly introduced pattern matching in combination with Levenshtein distance) in the upcoming weeks. It mostly hinges on #27.

[2017-09-28 19:16] eliaslevy commented on #28
Danke.

[2017-09-29 00:40] eliaslevy commented on #28
Looks lik the v0.4.10 release breaks my job when executing in EC2, but not locally on my Mac.  Reverting to v0.4.9 fixes the problem.

It is dying in `Scanner. allocScratch` with an `java.lang.OutOfMemoryError`, but that is probably wrong.  `Scanner.allocScratch` doesn't check the return value of `hs_check_alloc` for a specific error, so the problem may be something else.

I don't have time to deb

[2017-09-29 13:40] gliwka commented on #28
@eliaslevy That would be much appreciated.

[2017-10-04 01:18] eliaslevy commented on #28
A bit more on the error I was seeing.  I've reproduced it on my MBP and narrowed it down to a call I make to `Expression.validate` on start up to check the expressions.  It only seems to trigger if there are sufficient concurrent threads, each of which run the same code.   In my case I need at least four threads for it to trigger, and it won't trigger if I run the code in the debugger.  The error

[2017-10-04 01:35] gliwka commented on #28
Thank you very much for looking into this.

I'll open a issue for this and try to reproduce this using a simple test case.

[2017-10-04 01:38] gliwka opened #31 "Error due to reading of structs after call to free"
Bug report by @eliaslevy in #28:

[2017-10-04 03:28] eliaslevy commented on #31
Here is a [thread](https://groups.google.com/forum/m/#!topic/jna-users/OzB5yOy1-fU) that discusses this issue.

[2017-10-04 03:32] eliaslevy commented on #31
Not that the problem is not `Expression.validate` per se, but calls to `hs_free_compile_error`, which also occur in `Database.handleErrors`.

[2017-10-04 04:08] gliwka commented on #31
Yeah, thats true.

I was able to reproduce it.

Basically it boils down to:
a) disabling autoread on the structs and freeing the structs using hs_free_compile_error
- or -
b) not freeing the struct and leaving it to the garbage collector, since the JNA implementation should take care of it

[2017-10-04 04:21] gliwka commented on #31
[code]

That's the implementation of the hs_free_compile_error. In case it's a "fat library" (supporting multiple instruction sets), it makes sure at least sse3 is available. After that it calls     freeCompileError(error), which is implemented as:
[code]

hs_misc_free then just calls the default deallocator for the platform (free) or in case a user provided hyperscan with their own deallocator by

[2017-10-04 04:31] gliwka commented on #31
Since the memory is not allocated by JNA, it seems like it won't free the memory on garbage collection, so "disabling autoread on the structs and freeing the structs using hs_free_compile_error
or" is the proper solution.

I'm testing it right now and will push it later.

[2017-10-04 08:01] #31 closed

[2017-10-04 08:04] gliwka commented on #31
Fixed in v0.4.11

[2017-10-04 15:10] eliaslevy commented on #31
👍

[2017-10-05 16:05] eliaslevy opened #33 "Built-in Linux hyperscan shared library fails in Amazon Linux AMI"
I am not sure what is is about the hyperscan Linux shared library bundled with the jar, but the update in  0.4.10 broke my app in EC2.  Since then `hs_alloc_scratch` returns `HS_DB_VERSION_ERROR` even when passed a database created right before the call.  I built my own `libhs.so` and repackaged the jar and that fixed the issue.

The Linux version is:
[code]

[2017-10-05 17:21] gliwka commented on #33
Thats very strange. I'll look into it.

Can you verify that a ```mvn test``` fails on the same machine?

[2017-10-05 21:26] eliaslevy commented on #33
`mvn test` runs with no errors.

[2017-10-11 21:05] gliwka commented on #33
Sorry, got caught in up travel preparations. Will try to take a look at this issue next week when I arrive at my destination. I undestand you found a workaround, so this shouldn't be a blocker.

[2017-11-18 14:09] gliwka opened #34 "Check for null values as expression strings"
Passing null values as expression currently results in a JVM crash.

Throw NullPointerException if expression string is null.

[2017-11-18 14:18] #34 closed

[2017-11-18 15:17] gliwka commented on #33
Not sure why, but I can't reproduce this :-/

[2017-11-23 23:05] gliwka opened #35 "Add simple api which encapsulates the scanner logic"

[2017-11-28 22:30] eliaslevy commented on #33
I upgraded my instances to the latest version of the Amazon Linux AMIs and the problem went away.  Closing.

[2017-11-28 22:30] #33 closed

[2017-12-11 21:25] gliwka opened #36 "Evaluate enabling AVX512-support for fat library"
See https://github.com/intel/hyperscan/blob/master/doc/dev-reference/getting_started.rst

[2017-12-11 21:25] gliwka commented on #36
This will only work on linux for the time being.

[2017-12-13 00:31] gliwka opened #37 "Separate java library and precompiled shared libraries"
Separate shared libraries into their own maven artifacts.
One artifact for each os/architecture/instruction set combination

Use https://github.com/trustin/os-maven-plugin and classifiers.

This allows us to support new instructionssets (like AVX512, see #36) which need a newer tool chain and thus a newer GLIBC while still maintaining compatibility with older Linux systems.

[2017-12-21 13:53] toddleo commented on #10
I believe the link is broken. :(

[2017-12-21 14:03] gliwka commented on #10
Fixed it, thanks :-) Intel moved their open source repositories from the 01org to the Intel organization. Will have to fix all the other links, too.

[2017-12-21 14:04] gliwka opened #38 "Change links pointing to the intel documentation to the new url"
Old url: https://01org.github.io/hyperscan/
New url: https://intel.github.io/hyperscan/

[2017-12-21 14:10] #38 closed

[2017-12-25 16:33] toddleo commented on #1
I can't help to notice that *hyperscan-java* is an order of magnitude **slower** in my use case. Hence I created my test cases (not the same corpora of hyperscan benchmark though), to see if there's room for improvements. [Here](https://github.com/toddleo/hyperscan-java#benchmark)'s how to use my benchmark.

[2017-12-27 16:38] gliwka commented on #1
@toddleo can you describe your use case and provide an example on how you attempt to use hyperscan-java in a new issue? It's not clear to me from your "benchmark code" what your exact use case is.

Furthermore, it's advisable to use a benchmark framework like JMH (see [here](https://blog.codecentric.de/en/2017/10/performance-measurement-with-jmh-java-microbenchmark-harness/) for an introduction),

[2017-12-29 08:01] toddleo commented on #1
@gliwka you are right *scalatest* might not be the proper tool for benchmark. I'll see what I can do with [sbt-jmh](https://github.com/ktoso/sbt-jmh) (or maybe [ScalaMeter](http://scalameter.github.io/)) in the following days, and update description for my use case.

Nevertheless, happy new year! :fireworks:

[2018-01-01 15:34] toddleo opened #39 "A JMH Benchmark of Replacing Char"
Hi,

Following the conversation in #1 , I have implemented a benchmark using *sbt-jmh*.

It was originated by my use case on string replacing in my Spark app, only to find out *hyperscan-java* is no faster than Java Regex, which is as simple as the following:

[code]

To find out what is slowing down *hyperscan-java*, here's the result of *sbt-jmh*, on a benchmark simulating my use case.

[code]

[2018-01-01 19:53] eliaslevy commented on #39
@toddleo your test is deficient in a couple of ways.

Your test is measuring the compilation of the regex pattern, not just the matching.  Compilation is very expensive and usually done only once.  Unless you have some special requirements you should not be measuring the compile time.

In addition, Hyperscan is a multiple regex scanning library.  It is designed to efficiently evaluate many regex c

[2018-01-02 02:21] toddleo commented on #39
Hi @eliaslevy Elias,

I know I should not measure the compile time, and that's why I made my [`Compile()`](https://github.com/toddleo/hyperscan-java/blob/master/src/main/scala/com/gliwka/hyperscan/benchmark/ReplaceCharBenchmark.scala#L31) an isolated function. Frankly I'm new to JHM, is there a specific annotation to tell JMH not to measure `Compile()` function when invoking it?

[2018-01-02 03:51] eliaslevy commented on #39
Read up on the @State annotation and JHM state variables. You can use them
to initialize state outside the code being benchmarked.

On Mon, Jan 1, 2018 at 6:21 PM Todd Leo <notifications@github.com> wrote:

[2018-01-02 07:44] toddleo commented on #39
Hi @eliaslevy Elias,

I made modifications (see [commit e3f99e3](https://github.com/toddleo/hyperscan-java/commit/e3f99e38b7e028ca73226d4684c49a408d2c46c6) on my repo), using @State and @Setup notations for not measuring compilation, pls review again at your convenience.

Here's an updated benchmark result:

[code]

[2018-01-02 18:34] eliaslevy commented on #39
Better, although you are still generating the UUIDs within the code being benchmarked, which is probably not what you want to do.

Also, you are not precompiling the Java regex.  The implementation of `.replaceAll` is `Pattern.compile(regex).matcher(str).replaceAll(replacement)`.  You should pre-compile the pattern, `Pattern.compile(regex)`, then only test the matching in the native benchmarked co

[2018-01-08 09:29] toddleo commented on #39
Hi @eliaslevy Elias,

Thanks for the tips, I've done the following edits lately:

0. No benchmarking UUID generation. See [commit 9e59f5c](https://github.com/toddleo/hyperscan-java/commit/9e59f5c2b3feb23d4396535a96036f3467f47002)
0. Pre-compile Java Regex. See [commit 3f8f59e5](https://github.com/toddleo/hyperscan-java/commit/3f8f59e59693d88492c4d10058de29bba3e8d3bd)
0. Call low-level API `Hypersc

[2018-01-24 05:05] eliaslevy opened #40 "Compile new binaries for HyperScan v4.7.0"

[2018-01-24 13:16] #40 closed

[2018-01-24 13:22] gliwka opened #41 "Create maven release containing hyperscan v4.7.0"
Change version in pom.xml after travis finished building the binaries

[2018-01-24 13:23] gliwka opened #42 "Implement new APIs (hamming distance, levensthein distance)"

[2018-01-24 13:29] gliwka commented on #40
Travis is currently building the new binaries. Will release a new version after that (#41)

[2018-01-29 17:11] #41 closed

[2018-05-23 16:08] gliwka commented on #37
@eliaslevy What's your take on this issue?

I would like to split the binaries into their own maven packages per OS and on Linux into AVX512/non-AVX512.

This would allow for a smaller artefact size and allow us to provide AVX512-enabled binaries for Linux while still maintaining compatibility with older Glibc versions not supporting AVX512.

[2018-05-23 16:22] gliwka opened #44 "Publish to maven central"
- [X] Figure out AVX/non-AVX situation #37
- [X] Update pom.xml to adhere to the [standards](https://central.sonatype.org/pages/requirements.html)
- [X] Add script to build, sign and push artefacts to repository
- [X] Raise ticket with Sonatype to create repository on OSSRH [(ticket)](https://issues.sonatype.org/browse/OSSRH-40030)
- [X] Notify folks at Sonatype as soon as first artefact has been

[2018-05-23 16:45] gliwka commented on #37
Maybe even with an additional uberjar for ease of use.

[2018-05-24 00:33] gliwka commented on #37
Nevermind, that's too much effort. Instead I'll upgrade the build process to Centos 7 (Glibc 2.17) and appropriate GCC with AVX512 support. Since the latest Amazon Linux Image compatible with all instance types (2017.09) is also based on Glibc 2.17, this should be fine.

[2018-05-24 00:33] #37 closed

[2018-05-25 10:01] gliwka opened #45 "Drop 32-bit support"
Centos 7 is being used now to be able to build hyper scan with AVX512 support.

Devtoolset-7 is being used for this to have a modern gcc based toolchain. Since RedHat dropped 32-bit support, we're not able to build 32-bit versions any more and thus dropping the support.

[2018-05-25 10:05] #36 closed

[2018-05-25 10:05] #45 closed

[2018-05-25 15:11] eliaslevy commented on #45
👍

[2018-05-27 11:00] gliwka opened #46 "Implement git flow and snapshot releases"

[2018-06-08 09:47] #46 closed

[2018-06-08 15:15] #44 closed

[2018-06-09 13:33] gliwka opened #47 "Windows builds of native library based on Visual Studio"
Currently windows developers working on projects which include hyperscan-java as dependency cannot run the whole project on their local machine due to the missing windows support. It would be great to make development with hyperscan-java and projects basing on it a cross-platform experience.

To achieve this, the following things need to be implemented:
- [ ] Compile hyperscan as an dynamic librar

[2018-06-17 21:35] gliwka commented on #47
Possible option to create windows dll by patching the CMake script: https://blog.kitware.com/create-dlls-on-windows-without-declspec-using-new-cmake-export-all-feature/

[2018-06-26 18:49] eliaslevy commented on #45
Finally got around to testing the 0.5.0 jars.  Alas, they don't work for us.  We are using CentOS 7.4, while it seems the new shared libs are being built using the `centos:centos7` Docker image, which maps to CentOS 7.5.1804.  It is probably safer to build against an earlier version of CentOS 7.  E.g. CentOS 7.4 also uses Glibc 2.17.

For now it looks like we'll have to stay on the previous versio

[2018-06-26 20:18] gliwka commented on #45
Thank you for your comment, I will look into it :-)

[2018-06-26 21:50] eliaslevy commented on #45
After some further testing, we found out the jar actually works in CentOS 7.4.  We were running into an issue where the old library was still loaded in the process.

As for performance, as of this moment we haven't seen an increase, even though we are executing it on c5 instances with AVX-512 support.  We'll run a few more tests.

[2018-07-09 09:43] gliwka opened #48 "Update to Hyperscan 5.2"

[2018-09-01 19:59] ajcave opened #49 "Double free issue using Scanner::close and Database::close"
First, thanks a lot for these bindings! I was able to get a pretty significant performance improvement in my use-case quite easily by switching from the naive "loop over all the regexes" algorithm to using these hyperscan bindings :)

In my use-case I was creating a lot of Scanners in try-with-resources blocks one after the other. (I know it's not ideal to be re-allocating them unnecessarily, but

[2018-09-04 11:17] gliwka commented on #49
Thank you very much for your input, glad you find the bindings useful.

I'm currently swamped with work, but will investigate this on the weekend. The crude close() and finalize() implementations definitely need to be reworked.

Could you maybe provide a unit test or piece of code so I can easily reproduce the issue? This could speed things up quite a lot.

[2018-09-04 11:43] gliwka commented on #47
Raised [issue](https://github.com/intel/hyperscan/issues/105) against hyperscan project before starting work on this enhancement.

[2018-09-04 16:54] eliaslevy commented on #49
Could also just check `scratch` is not `null` before calling `HyperscanLibrary.INSTANCE.hs_free_scratch(scratch)` and then set it to `null`.

[2018-09-04 21:03] #49 closed

[2018-09-04 21:08] gliwka commented on #49
I've released v0.5.1 with the fix. I just promoted the release on maven central, it should propagate within the next 10 minutes.

Please let me know if this solves the issue or if it still persists.

[2018-09-15 21:13] gliwka commented on #47
Building on windows: https://github.com/intel/hyperscan/issues/99#issuecomment-413735047

[2018-11-07 03:01] krzysztofzienkiewicz commented on #10
I was thinking of implementing this feature because it might be very useful on a project I'm currently working on but after looking into it a bit I've identified some limitations/design issues.

1. Should the serialized database be usable directly by hyperscan or is it sufficient that only hyperscan-java be able to load this back in? I ask this because hyperscan-java's Database instance holds on t

[2018-11-09 13:48] gliwka commented on #10
Thank you very much for considering a contribution.

I think the tradeoffs proposed by you are fine.

One additional thought about the serialization: Right now expressions can have a context reference (Object) assigned to them to enable association between expressions and other business objects. This might need some additional consideration.
https://github.com/LocateTech/hyperscan-java/blob/3085f0

[2018-11-15 16:30] krzysztofzienkiewicz commented on #10
I thought about that. I don't think we'll want to serialize those at all. Instead I'm leaning towards having overloads on the deserialization call that accept a functional callback that will be used to recreate the context given the expression and flags.

[2018-11-15 17:59] gliwka commented on #10
I agree, that would be the best way to proceed. Looking forward to your contribution!

[2018-11-23 18:37] krzysztofzienkiewicz commented on #10
I opened the PR here: https://github.com/LocateTech/hyperscan-java/pull/50

[2018-11-30 17:12] gliwka commented on #10
Closed by #50. Will be part of the next release.

[2018-11-30 17:12] #10 closed

[2018-11-30 18:36] krzysztofzienkiewicz commented on #10
Thanks @gliwka. Any idea when the next release might be? We're trying to determine if my team should fork and publish to our internal nexus or if there will be an official release by the time we need this feature.

[2018-12-03 09:08] gliwka commented on #10
Today :-)

[2018-12-04 03:31] SwiftEngineer commented on #48
I don't know if this helps, but I thought I'd [link my fork of this repo here](https://github.com/SocialIntelligence/hyperscan-java) just in case anyone wanted to try out Chimera right now, or if it maybe could help resolve this issue. In its current state the project is pretty bad, but I can't argue that it doesn't perform well and it is tested.

Should get a lot better over the next week or so,

[2018-12-05 05:03] krzysztofzienkiewicz commented on #10
Is there an update on the release?

[2018-12-05 12:01] gliwka commented on #48
@SwiftEngineer Thank you very much for your comment.

I'm planning on resolving this issue until the end of the year. Your repository looks interesting, would you mind me selectively integrating your work in hyperscan-java?

[2018-12-05 12:04] gliwka commented on #10
@krzysztofzienkiewicz

Sorry for the delay, the flu is dragging me down.

v0.6.0 has just been released to maven central.

[2018-12-05 12:31] gliwka opened #51 "Split binaries into separate artifacts"
We currently ship a fat jar with binaries for linux and OS X combined.

It would be great to separate those into their own artifacts (see netty-tcnative).

[2018-12-05 13:13] gliwka commented on #48
Contributor access would also be an option.

[2018-12-05 17:56] SwiftEngineer commented on #48
Of course! Grab whatever code you'd like from the chimera4j repo. The majority of it is a 1:1 of hyperscan-java. Fair warning, my company (CarpeData) will be investing a lot of my time in improving it over the next couple weeks, so you may want to wait a bit until then as the quality should go up quite a bit.

As far as contributor access goes, I'll need a bit more time first to negotiate how much

[2018-12-06 06:32] krzysztofzienkiewicz commented on #10
Hope you feel better soon.
I noticed that the changes were merged to master but I can't seem to find the artifacts on maven central.

[2018-12-07 13:36] gliwka commented on #10
https://repo1.maven.org/maven2/com/gliwka/hyperscan/hyperscan/0.6.0/ exists, but the pom and .jar is missing inside. I'll release a v0.6.1, since I can't take a release down once it's published.

[2018-12-07 14:06] gliwka commented on #10
I'm getting hit by https://github.com/travis-ci/travis-ci/issues/9555, I'm investigation how to fix this.

[2018-12-07 14:44] gliwka commented on #10
The CI environment (Travis) is switching IP addresses during uploads, which causes Nexus to think it's two different releases and it creates multiple different staging repositories per IP address, which in turn caused an incomplete release.

Using nexus-staging-maven-plugin fixes the issue.

v0.6.2 is now released and works fine.

 It's already on OSS Sonatype (https://oss.sonatype.org/content/rep

[2018-12-07 14:47] gliwka commented on #48
Sounds good :-) Talk to you soon.

[2018-12-07 14:49] gliwka opened #52 "Automate GitHub releases"
Make sure new release also creates the corresponding release on the GitHub repository.

[2018-12-07 21:15] krzysztofzienkiewicz commented on #10
Thanks so much @gliwka

[2019-07-02 10:03] gliwka commented on #47
Pull Request for windows support is open. Will be integrated after upgrade to the 5 release.

https://github.com/intel/hyperscan/pull/172

[2019-09-05 06:45] gliwka opened #53 "Improve error handling"
Remove throwable from method signatures. Use unchecked exceptions for everything but compile exceptions and io exceptions.

[2019-09-05 11:22] gliwka opened #54 "Upgrade to Java 11 (current LTS)"

[2019-09-05 11:35] gliwka commented on #48
Updated dependency hyperscan to 5.1.1, 5.2.0 currently fails to build on linux as a shared library

[2019-09-16 20:16] #53 closed

[2019-09-16 20:16] #54 closed

[2019-09-17 08:00] tuian opened #56 "get the index id of Expressions"
### 0x00 getMatchedExpressionId
such as, getMatchedExpressionId fuction.

like hyperscan python:

[code]

[2019-09-17 19:28] gliwka commented on #56
The call to scan returns a list of matches:

[code]

A match returns the matched string, start of match, end of match and the matching expression directly instead of the id (see https://github.com/gliwka/hyperscan-java/blob/develop/src/main/java/com/gliwka/hyperscan/wrapper/Match.java - getMatchedExpression).

This makes the ids obsolete, since you can retrieve the matching expression directly.

D

[2019-10-21 16:48] stevenjbaldwin opened #58 "Excessive String Creation"
When using the SOM_LEFTMOST expression flag, all matching strings are returned within the returned list of match objects. For large strings (1+MB) and certain regexps this could cause orders of magnitude more strings to be created. If the scan method could return these strings as a lazy collection such as a Stream instead of a List, this could avoid consuming too much heap memory via the string po

[2019-10-21 18:13] gliwka commented on #58
Interesting use case. Returning a stream definitely makes sense for large amount of matches. I'll take a stab at implementing it.

[2019-11-01 17:25] gliwka commented on #35
Closed. Will be part of a seperate library which will combine re2j / java.util.regex with hyperscan.

[2019-11-01 17:25] #35 closed

[2019-11-01 17:45] gliwka opened #59 "Support multiple instruction types on Windows and macOS (like linux fat library)"
hyperscan only offers a fat build supporting multiple instruction types on linux.

macOS and Windows will need different binaries for different instruction sets to achieve the same level of performance. Necessary steps:

[ ] include libcpuid and create the jna interface to detect supported cpu features\
[ ] compile hyperscan with different instruction set flags (-march cmake flag)
[ ] load the rig

[2019-11-01 17:47] gliwka commented on #51
Will not be implemented at this time.

[2019-11-01 17:54] gliwka commented on #48
5.2.1 has been released fixing this issue.

[2019-11-05 09:25] gliwka commented on #47
Windows support Introduced in https://github.com/gliwka/hyperscan-java/commit/88622578c8082bca0312a5cfd3d3a35bee9be83d.

[2019-11-05 09:25] #47 closed

[2019-11-05 09:26] gliwka commented on #48
Implemented in https://github.com/gliwka/hyperscan-java/commit/954257f4b5fa0a4fc871cd57d1e96d4e1f078e00.

[2019-11-05 09:26] #48 closed

[2019-11-26 21:43] #56 closed

[2020-01-11 18:30] gliwka commented on #51
Implementing #59 would make the library quite large, so we might want to split the binaries and offer a version of the binding without precompiled libraries.

[2020-02-18 15:11] gliwka commented on #51
Action plan:

- [ ] Build the natives for each platform and publish them to maven central
- [ ] Create uber jar based on binaries published to central to support all platforms
- [ ] Remove natives from git repository

[2020-02-20 19:41] collinlee opened #68 "Support simple hasMatch operation for faster processing"
Wondering if in the Scanner class we could simply have a matches method that returns boolean depending on whether or not there are matches.  It would be similar to scan, but not bother building the List of match expressions to return.

[2020-02-28 14:38] gliwka commented on #68
Sounds good, will take this up for the next release!

[2020-02-29 06:17] Hardcore-fs opened #70 "Getting a hard crash on osx"
com.gliwka.hyperscan.wrapper.Database

Database.compile(scanExpression);

[hs_err_pid15410.log](https://github.com/gliwka/hyperscan-java/files/4269991/hs_err_pid15410.log)

seems to be this line:
    int hsError = HyperscanLibrary.INSTANCE.hs_compile(expression.getExpression(),
                Util.bitEnumSetToInt(expression.getFlags()), HS_MODE_BLOCK, Pointer.NULL, database, error);

Ok was due t

[2020-03-13 19:08] zcabh-21 opened #71 "SIGSEGV during scan execution on Scanner class"
[This issue might be related to #8 ]

- We observe a segmentation fault when running an engine (a collection of hyperscan compiled regexes) on a specific host.
- SIGSEGV can manifest on the same host that performed the db compilation so it doesn't appear to be a matter of mismatched architectures.
- Full log: [hs_err_pid26287.log](https://github.com/gliwka/hyperscan-java/files/4331185/hs_err_pid26

[2020-03-13 19:10] zcabh-21 opened #72 "Specify processor capabilities at db compile time"
- Enable the ability to explicitly choose the processor capabilities at db compilation time rather than what it currently does which is to infer processor capabilities from the db compilation host.
- We can avoid the "compiled for a different platform" warning that causes a runtime performance penalty
- We can work around the SIGSEGV issue (see: #71 )

[2020-07-07 10:34] mstaros opened #80 "Hyperscan 5.3"
Could you please update  hs.dll  to Hyperscan 5.3 version?

[2020-11-13 00:18] gliwka opened #87 "Replace jna bindings with jni-javacpp"
Migrate the wrapper to use the javacpp bindings instead of our own JNA bindings: https://github.com/bytedeco/javacpp-presets/tree/master/hyperscan

We still keep our own docker based approach for linux to target centos 6 (#69).

This will improve the performance by minimizing the overhead calling to C from java.

[2020-11-14 02:28] #70 closed

[2020-11-16 01:07] gliwka commented on #87
Work has started here: https://github.com/gliwka/hyperscan-java-native

[2021-01-26 22:49] rbjarnason opened #89 "Concurrency and blocking with many threads"
Thanks for an excellent wrapper, we're using Hyperscan to search CommonCrawl using large EC2 instances. But we've run into a problem with concurrency where the CPUs are not used unless 15%-20% and the threads are blocked a lot of the time.

The blocking is happening on WeakHashMap, StandardCharsets, and SynchronizedMap as shown below. Any ideas or leads?

"pool-2-thread-29" #58 prio=5 os_prio=0 cp

[2021-01-27 21:14] rbjarnason commented on #89
I decided to spawn one java process per CPU instead, and fixed some unrelated IO issues and now I'm scanning with all CPUs constantly at 92-95% on a c5n.18xlarge EC2 instance with 72 CPUs. This allows us to scan a whole month of CommonCrawl, 72,000 files, 9.2 TB of gzipped text with hundreds of keywords in about 4 hours.

[2021-01-27 23:33] gliwka commented on #89
Thank you for the bug report and follow-up!

I'll be releasing a new version based on 5.4 and generated JNI code instead of JNA by the end of this week, which will remove the lock contention.

I will give you a ping here once it is released.

[2021-01-31 22:30] gliwka commented on #87
Implemented in develop.

[2021-01-31 22:30] #87 closed

[2021-01-31 22:52] gliwka commented on #51
Implemented by https://github.com/gliwka/hyperscan-java/commit/d9ab37b432a3af73d2d287e4b64d23fc152d6e4b

[2021-01-31 22:52] #51 closed

[2021-01-31 23:08] gliwka commented on #80
https://github.com/gliwka/hyperscan-java-native has been updated to 5.4.0 and will be used in the next release of hyperscan-java.

[2021-01-31 23:08] #80 closed

[2021-01-31 23:18] gliwka commented on #89
The new implementation based on JNI and hyperscan 5.4.0 has landed on develop. Feel free to give it a try.

Release to maven central will follow soon, need to migrate the build to GitHub first.

[2021-01-31 23:35] gliwka commented on #71
hyperscan-java on develop now uses JNI instead of JNA. The handling of native memory has changed significantly.

This issue should not occur anymore. Feel free to reopen it, if you encounter this issue again.

[2021-01-31 23:35] #71 closed

[2021-01-31 23:36] gliwka commented on #72
#71 should be fixed on develop.

Feel free to submit a PR implementing the processor capabilities.

[2021-02-03 23:56] gliwka opened #100 "Optimize for pure ASCII"
If the byte[] length equals the string length all characters are 1 byte wide (ASCII). Use the byte position as string position. Mapping byte position to UTF-8 position is not necessary in this case.

[2021-02-11 00:25] #1 closed

[2021-02-11 00:25] #100 closed

[2021-02-15 06:29] csyzhang opened #106 "logical combination of expressions"
@gliwka excellent wrapper. I like it. Thanks a lot for your contribution.
When I use the hyperscan-java library, I need to do regular expression combinations. I see the native hyperscan support it (https://software.intel.com/content/www/us/en/develop/articles/logical-combinations-of-regular-expressions-in-hyperscan.html). I am wondering how to achieve this in this java binding?

another question i

[2021-02-15 11:08] gliwka commented on #106
There is basic support for combinations:
https://github.com/gliwka/hyperscan-java/blob/main/src/test/java/com/gliwka/hyperscan/wrapper/IntegrationTest.java#L241

The ID  is the position of the expression in the list (first expression = 0, second expression = 1 etc.). If it helps, I can add functionality to specify custom IDs.

An alternative could be a nice DSL to describe the combinations, but I

[2021-02-15 21:42] csyzhang commented on #106
Thanks a lot for the reply @gliwka. It would be great if we can specify custom IDs explicitly. It will be easy to identity and manage expressions when the number of expressions increases.

[2021-02-16 00:58] csyzhang commented on #106
@gliwka , two more questions -

1. could you please show an example of how to use the "context" field in expression?
2. after scan, I get a list of matches. But how do I know which expressions are matched? looks there is no method to return the matched expression ID. what I can do is to get the matched expression string by using match.getMatchedExpression().getExpression() and look up from the ori

[2021-02-16 09:55] gliwka commented on #106
@csyzhang You can call getMatchedExpression() on the Match. Instead of the id, this will return the matching expression object directly.

Some pseudo-code for illustration:
[code]

The context-field allows you to attach an object of your choice to an expression. You can use it to map between the expression and some object in your codebase. For example:

[code]

[2021-02-16 09:57] gliwka commented on #106
I will add some logic to allow for custom id's and will expose the id in the Expression class.

[2021-03-15 21:53] mikolajpod commented on #68
Adding this method will cover 2 cases.
IMHO better way is to expose
`public void scan(Database db, String input, HyperscanLibrary.match_event_handler handler)`
method which will handle all use cases by providing custom match handler.

[2021-03-22 08:23] heartdance opened #111 "如何在windows下调试"
只支持linux环境吗

[2021-03-22 09:32] gliwka commented on #111
Windows support is implemented in master, but not yet released to maven central. This will happen soon.

[2021-03-23 12:12] MillionMao opened #112 "how to build libhs.so?"
I want to adapt to other operating systems.     how to build libhs.so？

[2021-03-24 10:55] gliwka commented on #112
It’s being build here - currently for Linux, windows and OS X. Which OS are you interested in? Windows?

Windows Support will be released soon.

[2021-03-25 08:09] elmart-devo opened #114 "Native lib not loading on macos"
Running `mvn verify` on macos produces the following:

[code]

This is, dynamic lib is not being found on macos.

After some investigation, it turns out the problem comes from the maven plugin used to normalize platform classifier on companion project `hyperscan-java-native`. Such plugin (os-maven-plugin) uses `osx` for macos, where JavaCPP loader expects `macosx`. This is, dynamic lib is placed i

[2021-03-25 08:27] elmart-devo commented on #114
As to why this wasn't detected here, it seems there's a matrix config in github workflow, but currently it's running only on ubuntu.

[2021-03-29 16:14] #114 closed

[2021-03-29 16:15] #106 closed

[2021-03-29 16:52] rui-ribeiro opened #117 "Support for Chimera"
Hello,

I would like to start by saying that this project is great!

I was wondering tho if there are any plans for supporting the Chimera "plug-in". I tried t find references of it but I was unsuccessful.

Thanks!

[2021-03-29 19:32] gliwka commented on #117
Chimera uses hyperscan to match regular expression using the PREFILTER flag, then passes the expressions into PCRE for confirmation.

I'm currently doing the same in one of my projects without chimera, by using the PREFILTER flag in combination with normal Java Regex API instead of PCRE. This allows me to have similar performance benefits while having the advantage that I can use the regular Java

[2021-03-29 20:35] rui-ribeiro commented on #117
Oh, that is a great piece of information! I totally missed that flag, thank you 👍

One thing tho, I still require to be able to run PCRE and I believe the standard Java Regex library doesn't support it, right?

[2021-03-30 08:36] gliwka commented on #117
Yes, there are some small differences: https://gist.github.com/CMCDragonkai/6c933f4a7d713ef712145c5eb94a1816

I will add my utility code to the repository.

Feel free to submit a pull request for chimera support.

[2021-03-30 15:58] johnwyz88 commented on #89
Hi, we are using Maven 1.0.0 and still getting this bug. Could you release the fix to Maven?

[2021-03-31 12:37] gliwka commented on #89
Version 5.4.0-2.0.0 with the fix has been released and should be in maven central in a couple minutes.

[2021-03-31 12:37] gliwka commented on #111
Version 5.4.0-2.0.0 with windows support has been released and should be in maven central in a couple minutes.

[2021-03-31 12:37] #111 closed

[2021-03-31 12:39] gliwka commented on #117
Version 5.4.0-2.0.0 now has the PatternFilter (see README), which is similar to chimera, only more convenient with Java APIs. Please submit a Pull Request, if you need chimera.

[2021-03-31 12:39] #117 closed

[2021-03-31 12:39] gliwka commented on #112
Windows Support has been released in Version 5.4.0-2.0.0.

[2021-03-31 12:39] #112 closed

[2021-03-31 14:26] rui-ribeiro commented on #117
Thanks for adding it so quickly! Really appreciate it 💯

I'm gonna think about Chimera, I'm not sure yet where to start.

[2021-03-31 22:15] johnwyz88 opened #124 "java.lang.UnsatisfiedLinkError: no jnihyperscan in java.library.path"
After pulling the latest version from maven, I start getting this error
[code]

Full logs: https://justpaste.it/37dzy

[2021-03-31 22:20] gliwka commented on #124
Which OS? Are you trying to build it yourself?

[2021-03-31 22:23] johnwyz88 commented on #124
Linux. I have some custom modification on top so I need to build the source.

[2021-03-31 22:24] johnwyz88 commented on #124
Do you have a build script that I can reference?

[2021-03-31 22:31] gliwka commented on #124
A regular maven build should do the trick for the java part.

It seems the tests in your build fail, because it can't find the hyperscan binaries. Those are provided in a seperate dependency.

Do you have the following dependencies in the build of your fork?

https://github.com/gliwka/hyperscan-java/blob/27dc576faf984160686a6a0a0b128ba97682ab2a/pom.xml#L191:L206

[2021-03-31 22:45] johnwyz88 commented on #124
I see. Thanks!

[2021-03-31 22:45] #124 closed

[2021-03-31 22:53] gliwka commented on #124
PS: If your custom modifications are general enough and useful to others, we could also include them in this repo.

[2021-04-22 09:19] vishantakhani opened #127 "Class Not Found Exception"
I am using the latest version of hyper scan for text scanning.
Getting below error
java.lang.NoClassDefFoundError: org/bytedeco/javacpp/Pointer

Have gone through the code and found that in com.gliwka.hyperscan.wrapper.Database Pointer is getting used.
Tried after downloading javacpp jars as we but still getting the same error.

Below dependencies i tried with.

		<dependency org="com.gliwka.hyper

[2021-04-22 13:28] gliwka commented on #127
I assume you're using Apache Ivy as a dependency manager. Unfortunately I'm not familiar with it and thus am unable to help you.

I would suggest you to ask this question on stackoverflow. Using this package with other managers like gradle or maven works fine.

Sorry I can't be of more help.

[2021-04-22 13:28] #127 closed

[2021-04-27 18:07] gliwka opened #128 "Apple Silicon support"
Add support for new Apple M1 Macs by compiling binaries based on one of the hyperscan ARM forks.

[2021-04-28 19:48] gliwka commented on #128
@eliaslevy I've seen your comment on the hyperscan ARM thread: https://github.com/intel/hyperscan/issues/197#issuecomment-680264864

Which ARM port if any are you using for Apple Silicon, if any?

[2021-04-28 19:49] gliwka commented on #128
The vectorcamp fork doesn't compile on clang:
https://github.com/VectorCamp/vectorscan/issues/21

[2021-04-28 21:59] eliaslevy commented on #128
Alas, I've not gone down that route yet, so I can't be of assistance.

[2021-05-04 16:26] hariraogotit opened #130 "ERROR :- There can only be 256 non-closed Scanner instances. Create them once per thread!"
Hi Team,

   I used the code in https://github.com/gliwka/hyperscan-java#use-of-the-patternfilter
and I got - "**There can only be 256 non-closed Scanner instances. Create them once per thread!**"

I had multiple threads running the above code and I had one instance of PatternFilter per thread. Upon using  filter.close(); fixed the issue. I am no longer getting the error.

Hope this is how I am ex

[2021-05-05 10:30] hariraogotit commented on #130
**java.lang.IllegalStateException: Scratch space has already been deallocated**
The above exception occurs when PatternFilter is not closed on the right place.

[2021-05-05 10:36] hariraogotit commented on #130
Hi Team,

    I used the code in https://github.com/gliwka/hyperscan-java#use-of-the-patternfilter as follows
[code]
Then ran it like below
[code]
I get

Exception in thread "Thread-1535" java.lang.RuntimeException: There can only be 256 non-closed Scanner instances. Create them once per thread!
	at com.gliwka.hyperscan.wrapper.Scanner.<init>(Scanner.java:40)
	at com.gliwka.hyperscan.util.PatternF

[2021-05-14 05:55] xishian opened #134 "The Scanner.class has a bug"
The Scanner(com.gliwka.hyperscan.wrapper.Scanner) has a static field `private static int count = 0;`
If many threads consturct the Scanner instance, the value of count cannot be accurate.
Please use AtomicInteger rather than int

[2021-05-14 07:45] gliwka commented on #134
Thanks for pointing it out. Will fix this in the next release, which is coming soon. I‘m working on something, which will remove the need to track the number of scanner instances.

[2021-05-18 01:11] #134 closed

[2021-06-05 03:35] jasonparallel commented on #130
The counter for the number of scanners is not thread safe. My PR fixes this https://github.com/gliwka/hyperscan-java/pull/141

[2021-08-17 02:20] Jtiag opened #149 "java.lang.OutOfMemoryError: Cannot allocate new PointerPointer(13): totalBytes = 0, physicalBytes = 8085M\n\tat org.bytedeco.javacpp.PointerPointer.<init>(PointerPointer.java:149)\n\tat com.gliwka.hyperscan.wrapper.Database.compile(Database.java:83)"
try (Database db = Database.compile(expressions);
             Scanner scanner = new Scanner()) {
            scanner.allocScratch(db);
        }

parallel call this method，some time latter in PointerPointer() allocate memory failed

[2021-09-14 13:14] gliwka opened #154 "Migrate to project panama"
JDK 17 now includes the new Foreign Memory APIs and is an LTS release. This enables us to use those APIs with Project Panama to call the hyperscan library using only the JVM itself without relying on external implementions like JNA or JavaCPP or writing JNI ourselves.

[2021-09-27 13:44] mmimica opened #158 "Race condition in Scanner ctor"
There is a race condition in `Scanner` constructor when counting the number of active `Scanner` instances.
The increment and decrement of `counter` in the constructor and `close()` are not atomic, leading to the wrong value being counted.

The variable should be `AtomicInteger`.

[code]
[code]

[2021-09-27 14:19] mmimica commented on #158
https://github.com/gliwka/hyperscan-java/pull/159

[2021-10-18 07:32] mmimica opened #161 "Database instances not reclaimable by GC"
Two linked issues:
`NativeDatabase` ctor is not invoked when an instances is created by `hs_compile_multi`, so deallocator is not registered there.

In `com.gliwka.hyperscan.wrapper.Database#load(java.io.InputStream, java.io.InputStream)`, the ctor is called, but the deallocator lambda contains a reference to `ṫhis`, which makes it non-reclaimable by GC.
`this.deallocator(() -> hs_free_database(th

[2021-10-19 09:37] mmimica opened #163 "Allow arbitrary expression IDs"
In `com.gliwka.hyperscan.wrapper.Database`, expressions are kept in an array where index is expression ID. This requires the array to be of size max(id). This can't work for arbitrary IDs, like 9999999 because the application is going to run out of memory, or waste lots of memory at least. Somehow it is assumed IDs start at low number and don't have large gaps.

[2021-10-31 13:55] mmimica opened #165 "The library should cleanup memory garbage after itself."
Each temporary memory resource allocated by the library in the process of compilation or scanning should be explicitly released by the library.

Leaving it to javacpp's garbage collection machanism works, but it's not nice. The library should offer the user the ability to be run with `org.bytedeco.javacpp.noPointerGC` enabled, which skips the internal maintenance overhead and lots of `synchronized

[2021-11-12 06:03] jiabochao opened #166 "NullPointerException: null"
[code]

[2021-12-17 21:02] crusse54 opened #170 "Scanner.scan utf8ByteIndexesMapping Array Out Of Bounds"
<img width="683" alt="image" src="https://user-images.githubusercontent.com/35385610/146605474-8038787f-b276-4a68-9698-10b6f73fbe7d.png">

`final byte[] utf8bytes = input.getBytes(StandardCharsets.UTF_8)` encodes the [unknown character](https://en.wikipedia.org/wiki/Specials_(Unicode_block)) as a single byte ASCII question mark. When `Util.utf8ByteIndexesMapping(input, bytesLength);` creates the `

[2022-01-11 11:49] trpjxrdf opened #174 "Memory leak in the PatternFilter"
Memory used by the PatternFilter is never freed. This code leads to infinite memory consumption.

	public static void main(String[] args) throws Exception {
		List<Pattern> regExpPatterns = new ArrayList<Pattern>();
		regExpPatterns.add(Pattern.compile("(d[0-9]d[0-9]d[0-9]d[0-9]),(dcba),(a[0-9]b[0-9]c[0-9]d[0-9]),(dcba: [0-9]00[0-9])"));
		regExpPatterns.add(Pattern.compile("(a:b:c:d),(1:2:3:4),([

[2022-02-28 07:13] jhsenjaliya commented on #128
@gliwka , any plan to support ARM (using the ARM variant of hyperscan : https://github.com/VectorCamp/vectorscan) ? This is amazing work btw. Thanks for doing and sharing it.

[2022-02-28 07:48] gliwka commented on #128
@jhsenjaliya Yes, will come with the next release. As you already discovered you can use the snapshot release of the natives in the meantime

[2022-03-10 03:48] xishian commented on #174
I run this snippet on windows 10, memory leak not found
![image](https://user-images.githubusercontent.com/13712743/157584685-a2c27390-7ef7-4bd9-abd0-3c024e3f8482.png)

[2022-03-10 09:29] gliwka commented on #165
@mmimica Didn't realize this is an Option before. Thank you for pointing it out. Will experiment with it!

[2022-03-10 09:35] gliwka commented on #165
http://bytedeco.org/javacpp/apidocs/org/bytedeco/javacpp/PointerScope.html

[2022-03-30 11:04] pedroboado commented on #128
Hi @gliwka, thanks for the awesome work. Is there any chance to have a release of `hyperscan-native:1.1.0` and a corresponding new release of `hyperscan-java`?  I've noticed a couple of minor rough edges trying to make it work for us:
- `hyperscan-java-native:1.1.0-SNAPSHOT` is missing `linux-x86_64` classifier
- We needed to upgrade `org.bytedeco:javacpp` to 1.5.7 for it to run in Apple silicon

[2022-06-20 12:32] Gmgge opened #183 "Any plans to support linux_arm in the future?"
thank you very much for your work

I found hyperscan supported by arm: https://github.com/kunpengcompute/hyperscan

If I want to adapt it myself, should I modify this hyperscan-java-native/build.sh?

If you can give me some advice or ideas, thank you very much

[2022-07-04 18:38] simpleyetawesomeprojects commented on #161
hello @mmimica , I have a question unrelated to your PR. I'm stuck on a problem and could not solve it. I guess you might have an idea, I have created an issue here https://github.com/gliwka/hyperscan-java-native/issues/29. I would highly appreciate it if you can provide any suggestions on how the issue could be resolved. Thank you in advance and apologies for this unrelated comment.

[2022-07-05 08:57] mmimica commented on #161
Sorry, I'm not up to the task. All I know about javacpp I have learned by looking at your code.

[2022-09-09 07:26] luengnat commented on #128
I wonder where are we with this. Is there anything I can help?